<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nova Turma</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
</head>

<body>
<div class="window">

    <div class="sidebar">
        <div class="user-infos-div" id="user-infos">
          <img id="user-pic" src="/img/user.jpg"/>
          <ul class="menu" id="user-infos">
            <li id="nome-do-usuario"><a href="/inicio">Pepe Froggandalf</a></li>
            <li id="cargo-do-usuario"><a href="/inicio">Administrador</a></li>
          </ul>
        </div>
        <ul class="menu" id="user-infos">
          <li><hr></li>
          <li><a href="/inicio/cursos"><i class="fas fa-book"></i>Cursos</a></li>
          <li><a href="/inicio/professores"><i class="fas fa-chalkboard-teacher"></i>Professores</a></li>
          <li><a href="/inicio/disciplinas"><i class="fas fa-book-open"></i>Disciplinas</a></li>
          <li><a href="/inicio/salas"><i class="fas fa-door-open"></i>Salas</a></li>
          <li><a href="/inicio/turmas"><i class="fas fa-calendar"></i>Turmas</a></li>
          <li><a href="/inicio/dias-da-semana"><i class="fas fa-calendar"></i>Dias da Semana</a></li>
          <li><a href="/inicio/periodos"><i class="fas fa-calendar"></i>Períodos</a></li>
          <li><a href="/inicio/horarios"><i class="fas fa-clock"></i>Horários</a></li>
          <li><a href="/inicio/grades-horarias"><i class="fas fa-clock"></i>Grades Horárias</a></li>
          <li><a href="/inicio/sair"><i class="fas fa-sign-out-alt"></i>Sair</a></li>
        </ul>
      </div>



    <div class="main-content">

        <div class="content">
            <h1 id="pagina-atual">Nova Turma</h1>
            <hr>

            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href=/inicio>Início</a></li>
                    <li class="breadcrumb-item"><a href="/inicio/disciplinas">Disciplinas</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Nova Disciplina</li>
                </ol>
            </nav>

            <hr>

            <form class="form" th:action="@{/inicio/horarios/novo-horario}" th:object="${entidade}" method="post">
               
                <h4>Data do Horario:</h4>

                    <div id="input-01" class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroup-sizing-default"><i class="fas fa-graduation-cap"></i></span>
                        </div>
                        <input class="input-fields form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" id="data" name="data" type="date" th:field="*{data}">
                    </div>



                <h4>Turma do Horario:</h4>
                <div id="input-01" class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default"><i class="fas fa-chalkboard-teacher"></i></span>
                    </div>
                    <select class="input-fields form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" id="turma" name="turmaId" required>
                        <option th:each="turma : ${turmas}" th:value="${turma.id}" th:text="${turma.codTurma}"></option>
                    </select>
                </div>

                <h4>Dia da Semana do Horario:</h4>
                <div id="input-01" class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default"><i class="fas fa-chalkboard-teacher"></i></span>
                    </div>
                    <select class="input-fields form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" id="diaDaSemana" name="diaDaSemanaId" required>
                        <option th:each="dia : ${diasDaSemana}" th:value="${dia.id}" th:text="${dia.nome}"></option>
                    </select>
                </div>
                
                <h4>Periodo do Horario:</h4>
                <div id="input-01" class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default"><i class="fas fa-chalkboard-teacher"></i></span>
                    </div>
                    <select class="input-fields form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" id="periodo" name="periodoId" required>
                        <option th:each="periodo : ${periodos}" th:value="${periodo.id}" th:text="${periodo.descricao}"></option>
                    </select>
                </div>

                <h4>Disciplina do Horario:</h4>
                <div id="input-01" class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default"><i class="fas fa-chalkboard-teacher"></i></span>
                    </div>
                    <select class="input-fields form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" id="disciplina" name="disciplinaId" required>
                        <option th:each="disciplina : ${disciplinas}" th:value="${disciplina.id}" th:text="${disciplina.nome}"></option>
                    </select>
                </div> 

                <h4>Professor do Horario:</h4>
                <div id="input-01" class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default"><i class="fas fa-chalkboard-teacher"></i></span>
                    </div>
                    <select class="input-fields form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" id="professor" name="professorId" required>
                        <option th:each="professor : ${professores}" th:value="${professor.id}" th:text="${professor.nome}"></option>
                    </select>
                </div> 

                <h4>Sala do Horario:</h4>
                <div id="input-01" class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default"><i class="fas fa-chalkboard-teacher"></i></span>
                    </div>
                    <select class="input-fields form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" id="sala" name="salaId" required>
                        <option th:each="sala : ${salas}" th:value="${sala.id}" th:text="${sala.codigoDaSala}"></option>
                    </select>
                </div> 

                <div class="form-btn-lineup">
                    <button id="form-btn-options" type="button" class="btn btn-danger" onclick="window.location.href='/inicio/horarios'">Cancelar</button>
                    <button id="form-btn-options" type="submit" class="btn btn-success">Salvar</button>
                </div>

                <p th:text="${erro}"></p>
            </form>
        </div>
    </div>


</div>
</body>

</html>
