<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Grades Horárias</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
  <link rel="icon" href="/favicon.ico" type="image/x-icon">
</head>

<body>
<div class="window">

  <div class="sidebar">
    <div class="user-infos-div" id="user-infos">
      <img id="user-pic" src="/img/user.jpg"/>
      <ul class="menu" id="user-infos">
        <li id="nome-do-usuario"><a href="/inicio">Pepe Froggandalf</a></li>
        <li id="cargo-do-usuario"><a href="/inicio">Administrador</a></li>
      </ul>
    </div>
    <ul class="menu" id="user-infos">
      <li><hr></li>
      <li><a href="/inicio/cursos"><i class="fas fa-book"></i>Cursos</a></li>
      <li><a href="/inicio/professores"><i class="fas fa-chalkboard-teacher"></i>Professores</a></li>
      <li><a href="/inicio/disciplinas"><i class="fas fa-book-open"></i>Disciplinas</a></li>
      <li><a href="/inicio/salas"><i class="fas fa-door-open"></i>Salas</a></li>
      <li><a href="/inicio/turmas"><i class="fas fa-calendar"></i>Turmas</a></li>
      <li><a href="/inicio/dias-da-semana"><i class="fas fa-calendar"></i>Dias da Semana</a></li>
      <li><a href="/inicio/periodos"><i class="fas fa-calendar"></i>Períodos</a></li>
      <li><a href="/inicio/horarios"><i class="fas fa-clock"></i>Horários</a></li>
      <li><a href="/inicio/grades-horarias"><i class="fas fa-clock"></i>Grades Horárias</a></li>
      <li><a href="/inicio/sair"><i class="fas fa-sign-out-alt"></i>Sair</a></li>
    </ul>
  </div>



  <div class="main-content">

    <div class="content">
      <h1 id="pagina-atual">Grades Horárias</h1>
      <hr>

      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/inicio">Início</a></li>
          <li class="breadcrumb-item active" aria-current="page">Grades Horárias</li>
        </ol>
      </nav>

      <hr>
      <button type="button" class="btn btn-primary" onclick="window.location.href='/inicio/grades-horarias/nova-grade-horaria'">Novo</button>
     
      <table  class="table table-striped" th:each="entidade : ${gradesHorarias}">  <!-- TABELA GERADOR -->

        <thead id="table" class="thead-dark">
          <tr scope="col" ><th colspan="4" th:text="${(entidade.primeiroHorario != null ? entidade.primeiroHorario.turma.curso.nome : '[EMPTY]')  + ' | ' + 'Horário ID: ' + entidade.id}" style="vertical-align: middle; text-align: center;"></th></tr>
          <tr>
            <th scope="col" th:text="${entidade.primeiroHorario != null ? entidade.primeiroHorario.diaDaSemana.nome + ' | ' + entidade.primeiroHorario.data : '[EMPTY]'}" style="vertical-align: middle; text-align: center;"></th>
            <th scope="col" th:text="${entidade.primeiroHorario != null ? entidade.primeiroHorario.periodo.descricao : '[EMPTY]'}" style="vertical-align: middle; text-align: center;"></th>
            <th scope="col" th:text="${entidade.primeiroHorario != null ? entidade.segundoHorario.periodo.descricao : '[EMPTY]'}" style="vertical-align: middle; text-align: center;"></th>
          </tr>
        </thead>
        <tbody>
          <tr><td  rowspan="4" th:text="${entidade.primeiroHorario != null and entidade.primeiroHorario.turma != null ? 'Turma: ' + entidade.primeiroHorario.turma.codTurma : '[EMPTY]'}" style="vertical-align: middle; text-align: center;"></td></tr>
          <tr><td th:text="${entidade.primeiroHorario != null and entidade.primeiroHorario.disciplina != null ? entidade.primeiroHorario.disciplina.nome : '[EMPTY]'}"></td><td th:text="${entidade.segundoHorario != null and entidade.segundoHorario.disciplina != null ? entidade.segundoHorario.disciplina.nome : '[EMPTY]'}"></td></tr>
          <tr><td th:text="${entidade.primeiroHorario != null and entidade.primeiroHorario.disciplina != null and entidade.primeiroHorario.disciplina.professor != null ? entidade.primeiroHorario.disciplina.professor.nome : '[EMPTY]'}"></td><td th:text="${entidade.segundoHorario != null and entidade.segundoHorario.disciplina != null and entidade.segundoHorario.disciplina.professor != null ? entidade.segundoHorario.disciplina.professor.nome : '[EMPTY]'}"></td></tr>
          <tr><td th:text="*{entidade.primeiroHorario != null and entidade.primeiroHorario.sala != null ? entidade.primeiroHorario.sala.codigoDaSala : '[EMPTY]'}"></td><td th:text="*{entidade.primeiroHorario != null and entidade.segundoHorario.sala.codigoDaSala != null ? entidade.segundoHorario.sala.codigoDaSala : '[EMPTY]'}"></td></tr>
          <tr><td  rowspan="4" colspan="3" style="vertical-align: middle; text-align: center;">
            <a th:href="@{/inicio/grades-horarias/{id}(id=${entidade.id})}">Visualizar</a>
              </td>
          </tr>
        </tbody>
        </table> <!-- TABELA 01 -->

    </div>
  </div>


</div>
</body>

</html>
